.mainConatinerRecipeDetail{
    background-color: #111418;
    padding-bottom: 300px; 
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ingredientsTxt{
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}
.ingredientsParaDiv p{
    font-weight: 300;
    font-size: 20px;
    color: #fff;


}

.recipeTxtMainDet{
    font-size: 48px;
    line-height: 52px;
    color: #ffff;
    font-weight: 600;
 
    font-family: Poppins, sans-serif;
    margin-bottom: 0px;
    max-width: 900px;
}
.recipeTxtDetailDet{
    font-size: 16px;
    color: #ffff;
    font-weight: 300;
    line-height: 25px;
    font-family: Poppins, sans-serif;
    margin-top: 10px;
    max-width: 900px;
}
.backGroundTick{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tickIcon{
    font-size: 24px;
}
.stpTxt{
    font-size: 20px;
    line-height: 30px;
    color: #ffff;
    font-weight: 500;
 
    font-family: Poppins, sans-serif;
    /* margin-bottom: 0px; */
    margin-left: 10px;
    
}
.topDivStp{
    display: flex;
    align-items: center;
}
.stepsParaDet{
    font-size: 18px;
    line-height: 25px;
    color: #ffff;
    font-weight: 400;
 
    font-family: Poppins, sans-serif;
    max-width: 640px;

}

.svgDivRec svg{
    fill: #fff;

}

.dirTxt{
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}
.lineReciDet{
    height: 2px;
    width: 600px;
    background-color: #ffff;
}
.svgDivRec{
    display: flex;
    align-items: center;
    max-width: 640px;
    justify-content: space-between;

}
.creditTxt{
    color: #fff;
    margin-top: 0px;
    font-weight: 500;
 
    font-family: Poppins, sans-serif;
}
@media (max-width:950px) {

    .mainConatinerRecipeDetail{
        padding-left: 20px;
        padding-right: 20px;
    }

    
}


@media (max-width:647px) {
    .svgDivRec {
        width: 100%;

    }
    .recipeDetailImg{
        width: 95%;
        object-fit: contain;
    }
    .mainInnerContainerReciDet{
        width: 100%;
    }
    .recipeTxtMainDet {
        font-size: 30px;
        line-height: 45px;
    }
}