.recipeTbTxt {
  font-weight: 500;
  font-size: 20px;
  margin-left: 5px;
  color: #fff;
}
.mainContainerRecipop {
  background-image: url(../../images/brack.jpg);
  background-size: auto;
  height: auto;
  padding-bottom: 105px;
  width: 100%;
  object-fit: contain;
  /* padding-top: 100px; */
}
.topInnerTab {
  display: flex;

  /* width: 34%; */
  /* width: 640px; */
}
.divTab {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tabRecipeLine {
  background-color: #fff;
  height: 2px;
  width: 100%;
}
.recipeTbTxtChange {
  font-size: 20px;
  font-weight: 500;
  color: #ff4203;
}
.tabRecipeLineBack {
  background-color: #ff4203;
  height: 2px;
}
.recipeTxtMain {
  font-size: 26px;
  color: #ffff;
  font-weight: 600;
  line-height: 35px;
  font-family: Poppins, sans-serif;
  margin-bottom: 0px;
  max-width: 600px;
  margin-top: 16px;
}
.recipeTxtDetail {
  font-size: 16px;
  color: #ffff;
  font-weight: 300;
  line-height: 25px;
  font-family: Poppins, sans-serif;
  margin-top: 10px;
  max-width: 600px;
}
.mainContainerHomeRecipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
}
.topMapHomeone {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 68%; */
  width: 1281px;
  margin: auto;
  padding-top: 20px;
}
.topMapHomeHide {
  display: none;
}
.recipeImg {
  border-radius: 15px;
}
.headerHomeTxt {
  color: #ffff;
  font-weight: 600;
  line-height: 35px;
  font-family: Poppins, sans-serif;
  width: 1287px;
  justify-content: flex-start;
  margin-top: 70px;
}
.topListDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topRadio {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.topInnerTab {
  display: flex;
  justify-content: flex-start;
  width: 1295px;
  margin-top: 25px;
}
.radioInput {
  width: 25px;
  height: 25px;
}
@media (max-width: 1323px) {
  .recipeImg {
    width: 360px;
    object-fit: contain;
  }
  .recipeTxtMain {
    max-width: 360px;
  }
  .recipeTxtDetail {
    max-width: 360px;
  }

  .topMapHomeone {
    width: 760px;
  }
  .headerHomeTxt {
    width: 760px;
  }
  .topInnerTab {
    width: 774px;
  }
}

@media (max-width: 794px) {
  .topMapHomeone {
    flex-direction: column;
    align-items: center;
    width: 360px;
  }

  .headerHomeTxt {
    width: 360px;
  }
  .topInnerTab {
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    width: 370px;
    justify-content: flex-start;
  }
}
