.footermain{
    background-color: #15262d ;
    border-top: 1px solid gray;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerhead{
  
    color: #fff;
    font-size: 15px;
    font-family: Poppins, sans-serif;
}