.mainContainerCreateRecipe {
  width: 100%;
  height: auto;
  background-image: url(../../images/brack.jpg);
  /* background: no-repeat; */
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 100px;
  padding-top: 100px;
  object-fit: contain;
}

.labelCreateRecipe {
  color: #dee3e4;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.inputCreateRecipe {
  border: none;
  background: #232a31;
  color: #fff;
  padding: 0.81rem 0.96rem;
  font-size: 16px;
  width: 600px;
}
.txtCreateRecipe {
  color: #dee3e4;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  font-family: Poppins, sans-serif;
  margin-top: 0px;
}
.btnCreateRecipe {
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-weight: 500;
  color: #ffff;
  font-size: 1rem;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
}

.btnCreateRecipeAdd {
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-weight: 500;
  color: #ffff;
  font-size: 1rem;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}
.btnCreateRecipeRem {
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-weight: 500;
  color: #ffff;
  font-size: 1rem;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  margin-bottom: 10px;
}
.formCreateRecipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topUploadImg {
  /* background-color: red;
    padding-bottom: 10px; */
}
input[type="file" i] {
  font-family: Poppins, sans-serif;
}
.inputData {
  color: #fff;
}
.btnofall {
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 10px 2.6rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-weight: 500;
  color: #ffff;
  font-size: 1rem;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
}
@media (max-width: 691px) {
  .formCreateRecipe {
    width: 94%;
  }
  .inputCreateRecipe {
    width: 90%;
  }
  .box {
    width: 100%;
  }
  .topUploadImg {
    width: 100%;
  }
  .txtCreateRecipe {
    font-size: 30px;
  }
}
