.checkmain {
  background-image: url(../../images/poop.jpg);
  background-size: cover;
  width: 100% !important;
  height: 100vh !important;
}
.clue {
  color: #fff;
  padding: 30px 0px 10px 5px;
}
.chkbtn {
  background-color: #4a9059;
  border-color: #11f23e;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-weight: 500;
  color: #ffff;
  font-size: 20px;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  height: 60px;
  margin: 10px;
}
